.footer {
    
    border-top: 1px solid lightgray;
    padding: 20px;
    background-color:lightgray;
    text-align: center !important;
    
}


.footer > p {
    padding: 5px;
    font-size: 14px;
}

.footer__top  {
    display: flex;
    align-items: center;
    text-align: center !important;
    margin-left: 620px;
    
}

.footer__top > a {
    padding: 10px;
    text-decoration: none;
    display: flex;

    
}
